body {
    background-color: beige;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}
h1, h2 {
    background-color: rgb(231, 172, 95);
    color: black;
    border: 2px solid black;
    font-family:sans-serif;
}
h2 {
    padding: 0px 0px;
    margin: 0px 0px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
h1:hover, h2:hover {
    cursor: pointer;
    text-decoration: underline;
}

header::before {
    background: url("images/friends2.jpg") no-repeat center/cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.78;
}
.profile {
    border: 5px solid black;
    
    animation-name: prof;
    animation-duration: 2s;
}
@keyframes prof {
    from {
        height: 400px;
        width: 350px;
    }
    to {
        height: 500px;
        width: 450px;
    }
}

#first {
    display: inline-flex;
    width: 100%;
    height: 400px; 
}
#quote {
    height: 111px;
    width: 400px;
    padding: 123px 60px;
    padding-top: 80px;
    font-size: 25px;
    margin-left: 122px;    
}
.quote {
    top: 54px;
    left: 19%;
    position: relative;
    transition: width 2s, height 2s, transform 2s;
}
.quote:hover {
    width: 450px;
    height: 350px;
    transform: rotate(360deg);
    cursor: pointer;
}

#second {
    width: 100%;
    height: 500px;
    display: inline-flex;
    background-color: burlywood;
}
#desc {
    height: 250px;
    width: 700px;
    padding: 110px 214px;
    padding-left: 100px;
    font-size: 20px;
}
.desc {
    padding: 100px 100px;
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 50px;    
}

#third {
    display: inline-flex;
    width: 100%;
    height: 400px; 
}
#quality {
    height: 351px;
    width: 431px;
    padding: 107px;
    padding-top: 60px;
    padding-bottom: 0;
    font-size: 25px;
}
.quality {
    padding-top: 50px;
    padding-bottom: 50px;
    left: 19%;
    position: relative;
    transition: width 2s, height 2s;
}
.quality:hover {
    height: 500px;
    width: 400px;
    cursor: pointer;
}
p {
    font-size: 20px;
}
a:hover {
    text-decoration: none;
    font-weight: bold;
}

footer {
    font-size: 20px;
    padding-top: 70px;
    padding-bottom: 10px;
    text-align: center;
}